nav {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 50% 50%;
}
.TextArea {
    background-color: antiquewhite;
    background-size: 100px 50px;
}